<mat-card>
    <div class="container p-5 ">
        <div >
           
            <div class=" text-center">
               <h1>Add Quiz!</h1>
                <form class="example-form" (ngSubmit)="createQuiz()"  >
                    
                    <mat-form-field class="example-full-width">
                      <mat-label>Title</mat-label>
                      <input name="title"[(ngModel)]="data.title" matInput placeholder="like programming..." value="{{data.title}}">
                    </mat-form-field>
                    <div class="row">
                    <div class="col-md-6">
                    <mat-form-field class="example-full-width col-md-4">
                        <mat-label>Questions</mat-label>
                        <input name="noOfQuestion" [(ngModel)]="data.noOfQuestion"  matInput placeholder="like programming..." value="{{data.noOfQuestion}}">
                      </mat-form-field>
                   </div>
                   <div class="col-md-6">
                    <mat-form-field class="example-full-width col-md-4">
                        <mat-label>Max marks</mat-label>
                        <input name="maxMarks" [(ngModel)]="data.maxMarks"  matInput placeholder="like programming..." value="{{data.maxMarks}}">
                      </mat-form-field>
                   </div>
                 
                </div>
                <div class="col-md-12">     
                    <mat-form-field class="example-full-width">
                        <mat-label>Description</mat-label>
                        <textarea name="description" [(ngModel)]="data.description" value="{{data.description}}"  matInput placeholder="this Quizes based on programming.."></textarea>
                      </mat-form-field>
                    </div> 
             

                <div class="col-md-12">
                <mat-form-field class="example-full-width">
                    <mat-label>Choose one</mat-label>
                    <mat-select name="category"[(ngModel)]="data.category.cid" >
                      <mat-option *ngFor="let c of categories"  [value]="c.cid">{{c.title}}</mat-option>
                      
                    </mat-select>
                    <mat-hint>choose category!</mat-hint>
                </mat-form-field>
                </div>
                        <!-- publish -->
                        <div class="col-md-12 m-2">
                            <mat-slide-toggle name="active" [(ngModel)]="data.active"></mat-slide-toggle> Publish
                          </div>

                    <button type="submit" mat-raised-button color="primary">Add</button>
                      <button class="m-3" type="reset"mat-stroked-button color="accent">Reset</button>
                     
                </form>
                <!-- {{data|json}} -->
            </div>
        </div>
    </div>
</mat-card>

