<div class="container">
    <div class="home-icon text-center">
       <img src="https://as2.ftcdn.net/v2/jpg/02/01/38/87/1000_F_201388714_cv8jSWUK8SRM9miJUsQkfZpNarg7UuMw.jpg" alter="Icon of examPortal">
    </div>
    <div class="para mt-3 text-white">
        <h4>Online Examination System is a technology-driven way to simplify examination activities like defining exam patterns with question banks, defining exam timers, objective/ subjective question sections, and conducting exams using a computer or mobile devices in a paperless manner.

            Online Examination System is a cost-effective, scalable way to convert traditional pen and paper-based exams to online and paperless mode. Candidates can appear for the exam using any desktop, laptop, or mobile device with a browser. Exam results can be generated instantly for the objective type of questions.
            
            It can simplify overall examination management and result in generation activity.</h4>
    </div>

    <div class="buttons p-3 text-center">
        <button routerLink="/login" mat-raised-button color="primary" style="margin-right: 20px;" >Get Started</button>
        <button routerLink="/signup" mat-raised-button >SignUp</button>
    </div>
</div>
