
<div class="row q">

    <mat-card class="example-card col-md-4 " *ngFor="let q of quiz">
        <mat-card-header *ngIf="q.active==true">
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{q.title}}</mat-card-title>
           <!-- published or not -->
           <mat-icon  *ngIf="q.active" color="primary">published_with_changes</mat-icon>
           <mat-icon *ngIf="!q.active" color="accent">unpublished</mat-icon>
           <!-- ending of published -->
          <mat-card-subtitle>Q{{q.qid}}. Quiz to practice.</mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content *ngIf="q.active==true">
          <p>
           {{q.description}}
          </p>
          <button  mat-button color="light">Max Marks:{{q.maxMarks}}</button>
          <button  mat-button color="accent">Questions:{{q.noOfQuestion}}</button>
          <button  mat-button color="primary" [routerLink]="'/normal-dashbord/view_instruction/'+q.qid" >Start</button>
         
        </mat-card-content>
       
      </mat-card>
    </div>
     <!-- OOPS section -->
 <div class="col-md-12 text-center " *ngIf="quiz==''">
  <mat-card>
    <div class="col-md-12 mt-5">
      <img src="https://t3.ftcdn.net/jpg/01/01/89/46/240_F_101894688_RVSZUtDfPR6Cr5eBDQI7Qo5pZ01jmyK3.jpg" alter="oops image">
    </div>
    <div class="col-md-12 p-3">
      <h1>No questions are active on this quizz!</h1>
    </div>
  </mat-card>
</div>
    <!-- second card -->
    
       

