
<div class="row q">

    <mat-card class="example-card col-md-4 " *ngFor="let q of quiz">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{q.title}}</mat-card-title>
           <!-- published or not -->
           <mat-icon  *ngIf="q.active" color="primary">published_with_changes</mat-icon>
           <mat-icon *ngIf="!q.active" color="accent">unpublished</mat-icon>
           <!-- ending of published -->
          <mat-card-subtitle>Q{{q.qid}}. Quiz to practice.</mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content>
          <p>
           {{q.description}}
          </p>
          <button  mat-button color="light">Max Marks:{{q.maxMarks}}</button>
          <button  mat-button color="accent">Questions:{{q.noOfQuestion}}</button>
          <button  mat-button color="primary" [routerLink]="'/admin-dashbord/view-questions/'+q.qid" >Questions</button>
         
        </mat-card-content>
        <mat-card-actions>
          <button  (click)="updateQuiz(q.qid)" mat-button color="primary">UPDATE</button>
          <!-- //ya tumhe function banane ki jarurt hi nahi hai [routerLink]="'/url'+q.qid" bi kar sakte ho isse router link data bhi le ja skta hai bracket me jo rakha -->
          <button (click)="deleteQuiz(q.qid)" mat-button color="accent">DELETE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <!-- OOPS section -->
    <div class="col-md-12 text-center " *ngIf="quiz==''">
      <mat-card>
        <div class="col-md-12 mt-5">
          <img src="https://t3.ftcdn.net/jpg/01/01/89/46/240_F_101894688_RVSZUtDfPR6Cr5eBDQI7Qo5pZ01jmyK3.jpg" alter="oops image">
        </div>
        <div class="col-md-12 p-3">
          <h1>No quizes are active on this category!</h1>
        </div>
      </mat-card>
    </div>
    <!-- second card -->
    
       
